# IDE folders
.idea/

# API stuff
api/logon.php
api/createdb.sql
api/init_data.sql


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
