<!DOCTYPE html>
<html lang="en" ng-app="prosjektWeb">
<head>
    <meta charset="UTF-8">
    <title>Dagbok - Bachelorprosjekt</title>

    <link rel="stylesheet" href="public/stylesheets/general.css">
    <link rel="stylesheet" href="public/stylesheets/design.css">

    <link rel="stylesheet" href="public/stylesheets/mobile.css">
    <link rel="stylesheet" href="public/stylesheets/desktop.css">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.1/angular-sanitize.js"></script>

    <script src="public/angular/diary.controller.js"></script>
    <script src="public/angular/posts.service.js"></script>
    <script src="public/angular/dateFormatter.filter.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body >
    <header>
        <h1> 6117 BACHELORPROSJEKT </h1>

    </header>
    <main ng-controller="diary">


        <section id="us">
            <div>
                <a href="https://www.linkedin.com/in/håkon-mølstre-59b858137/">
                    <img src="public/images/haakon.jpg"/>
                    <h2> Håkon Mølstre</h2>
                </a>
                <h4> Back-end programmerer</h4>
                <p>
                    Jeg ble med på dette prosjektet fordi jeg er interessert i å lære å lage et spill og fordi jeg liker
                    gruppen som skal gjøre prosjektet. Det er også gøy å sette seg inn i nye algoritmer som jeg ikke
                    har vært borti før.
                </p>
            </div>
            <div>
                <a href="http://linkedin.com/in/magnuspw">
                    <img src="public/images/magnus.jpg"/>
                    <h2> Magnus Poppe Wang</h2>
                </a>
                <h4> Prosjektleder / Programmerer</h4>
                <p>
                    Å Jobbe med spilldesign er noe jeg alltid har hatt lyst til, men samtidig aldri har hatt tid til. Det er
                    også utrolig moro å være med i et større prosjekt der man har fire likestilte kodere i arbeid.
                </p>
            </div>
            <div>
                <a href="http://eatprayprogram.no">
                    <img src="public/images/ruben.jpg"/>
                    <h2> Ruben Bratsberg</h2>
                </a>
                <h4> PR ansvarlig / Programmerer </h4>
                <p>
                    Driftskraften bak EatPrayProgram jobber som PR-ansvarlig og back-end programmerer for prosjektet.
                    Jeg ønsker å ha et prosjekt på CVen og utvide kunnskapen min om å lage større prosjekt.
                </p>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/håvard-torp-helmersen-438862137/">
                    <img src="public/images/haavard.jpg"/>
                    <h2> Håvard Torp Helmersen</h2>
                </a>
                <h4> Front-end programmerer</h4>
                <p>
                    Kreativ og nyskapende utvikling er noe jeg brenner for. Dette prosjektet treffer meg perfekt,
                    for jeg får både lage noe eget og utvide min horisont innen diverse kodespråk jeg ikke har
                    vært borti i løpet av mine studier.
                </p>
            </div>
        </section>

        <section id="about">
            <div>
                <h2>OM PROSJEKTET</h2>
                <p>
                    Oppdraget vårt er å lage et spill inspirert av Heroes of Might and Magic 3
                    fra 1999. Hele gruppen er fans av dette og det er der motivasjonen kommer
                    fra. Spillet er altså da et 2-dimensjonelt strategispill med store rollespill
                    komponenter. Vi vet alt at det finnes et marked for dette, da det fortsatt er
                    aktive forumer som diskuterer spillet. Det er også fortsatt innhold som blir
                    laget til Heroes 3.
                    <br><br>
                    Vi skal bruke arbeidsmetodikken Scrum fullt ut, med daglige scrum-møter 2-ukers
                    sprinter. Våre faste arbeidsdager for prosjektet er tirsdag, onsdag og fredag.
                    Dette skal utføres til prosjektet er fullført. Vi har kapret oss bakre del av
                    prosjektlabratoriumet som vårt kontor. Scrum sammen med kanban er etter vår
                    mening en god måte å planlegge.
                    <br><br>
                    Spillet er en rundebasert strategispill i en fantasiverden. Spilleren kontroller
                    helter og enheter og har kontroll over byer.
                    <br><br>
                    Spillet skal være tilgjengelig for både datamaskin og mobile enheter. Av de
                    mobile enhetene fokuserer vi hovedsakelig på nettbrett med store skjermstørrelser.
                    Spillet skal være spesialtilpasset til enhetene, slik at kontroller og
                    brukergrensesnitt passer til berøringsgrensesnitt. Selve utviklingen av spillet
                    skal foregå i utviklingsverktøyet Unity3D der vi skal bruke programmeringsspråket
                    C#. Vi får hjelp av en illustratør ved navn Benjamin Brinckmann til å ta for seg
                    det visuelle i spillet.
                    <br><br>
                    Vi ønsker å ha en spillbar prototype innen innleveringsfristen. Denne trenger ikke
                    nødvendigvis å inneholde ferdig grafikk, ha et balansert kamp system eller være
                    feilfri. Som effektmål skal vi lære oss utviklingsmetode og -prinsipp gjennom
                    utførelsen av prosjektet og bruk av Unity for spillprogrammering.
                </p>
            </div>
        </section>
        <section id="resources">
            <h2>RESSURSSER</h2>
            <br>
            <table>
                <tr>
                    <td><a href="http://github.com/magnuspoppe/trollsandgods"><button>GIT</button></a></td>
                    <td>GitHub repository for prosjektet</td>
                </tr><tr>
                    <td><a href="http://byteme.no/document/bachelor_fremdriftsplan.pdf"><button>PDF</button></a></td>
                    <td>Fremdriftsplan for prosjeketet (Gantt-diagram)</td>
                </tr><tr>
                    <td><a href="http://byteme.no/document/Prosjektskisse.pdf"><button>PDF</button></a></td>
                    <td>Prosjektskisse</td>
                </tr><tr>
                    <td><a href="http://byteme.no/document/Prosjektbeskrivelse.pdf"><button>PDF</button></a></td>
                    <td>Prosjektbeskrivelse</td>
                </tr>
                </tr><tr>
                    <td><a href="http://byteme.no/document/Milepael1.pdf"><button>PDF</button></a></td>
                    <td>Presentasjon, Milepæl 1</td>
                </tr><tr>
                    <td><a href="http://byteme.no/document/Milepael2.pdf"><button>PDF</button></a></td>
                    <td>Presentasjon, Milepæl 2</td>
                </tr><tr>
                    <td><a href="http://byteme.no/document/Milepael3.pdf"><button>PDF</button></a></td>
                    <td>Presentasjon, Milepæl 3</td>
                </tr>
            </table>
        </section>
        <section id="downloads">
            <h2>NEDLASTNINGER</h2>
            <p>
                De forskjellige nedlastningene under er for Release 3, Combat. Dette er her prosjektet ble
                avsluttet. Se selve releasen kan du finne her, sammen med kildekode og installasjonsfiler:
            </p>
            <a href="https://github.com/MagnusPoppe/TrollsAndGods/releases">
                <button>RELEASE<br>v1.0.0</button>
            </a>
            <br>
            <br>
            <div>
                <a href="https://github.com/MagnusPoppe/TrollsAndGods/releases/download/v1.0.0/Windows-Installer-v1.0.0.exe">
                    <button>
                        <img    height="24"
                                src="./public/images/osWindows.png"
                        ><br>v1.0.0
                    </button>

                </a>
                <a href="https://github.com/MagnusPoppe/TrollsAndGods/releases/download/v1.0.0/macOS-installer-v1.0.0.app.zip">
                    <button>
                        <img    height="24"
                                src="./public/images/osMac.png"
                        ><br>v1.0.0
                    </button>

                </a>
                <a href="https://github.com/MagnusPoppe/TrollsAndGods/releases/download/v1.0.0/android-installer-v1.0.0.apk">
                    <button>
                        <img    height="24"
                                src="./public/images/osAndroid.png"
                        ><br>v1.0.0
                    </button>
                </a>
            </div>
        </section>

        <section id="diary"> <!-- HER KOMMER BLOGGEN -->
            <h2>PROSJEKTDAGBOK</h2>
            <div ng-repeat="post in posts">
                <div class="date" ng-bind-html="post.date | formatDate"></div>
                <article >
                    <h2> {{ post.title }} </h2>
                    <h3> Av {{ post.owner }}</h3>
                    <p> {{ post.content }} </p>
                    <p ng-repeat="link in post.links">
                        <a href="{{ link.link }}">{{ link.text }}</a>
                    </p>
                </article>
            </div>
        </section>



    </main>
</body>
<!-- Hotjar Tracking Code for http://byteme.no -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:449618,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</html>