<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dagbok - Bachelorprosjekt</title>

    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script src=""></script>
</head>
<body>
    <header>
        <h1> 6117 Bachelorprosjekt </h1>
        <nav>
            <ul>
                <li>Hjem</li>
                <li>Dagbok</li>
                <!--<li>Milepæl 1</li>-->
                <!--<li>Milepæl 2</li>-->
                <!--<li>Milepæl 3</li>-->
                <li>Om oss</li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <h2> {{ overskrift }} </h2>
            <h3> Av {{ navn }}, den {{ dato | NO-FORMAT }}</h3>
            <p> {{ innlegg }} </p>
        </article>
        <article>
            <h2> {{ overskrift }} </h2>
            <h3> Av {{ navn }}, den {{ dato | NO-FORMAT }}</h3>
            <p> {{ innlegg }} </p>
        </article>
        <article>
            <h2> {{ overskrift }} </h2>
            <h3> Av {{ navn }}, den {{ dato | NO-FORMAT }}</h3>
            <p> {{ innlegg }} </p>
        </article>
        <article>
            <h2> {{ overskrift }} </h2>
            <h3> Av {{ navn }}, den {{ dato | NO-FORMAT }}</h3>
            <p> {{ innlegg }} </p>
        </article>
    </main>
</body>
</html>